<!doctype html>

<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=1024" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title>OpenNMS, meet configuration management (with SaltStack) | by Umberto Nicoletti @afactotum</title>
    
    <meta name="description" content="describe integration between OpenNMS and SaltStakc so that nodes are automatically added to OpenNMS as soon as they are processed by Salt" />
    <meta name="author" content="Umberto Nicoletti" />

    <link href="http://fonts.googleapis.com/css?family=Open+Sans:regular,semibold,italic,italicsemibold|PT+Sans:400,700,400italic,700italic|PT+Serif:400,700,400italic,700italic" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Sonsie+One' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
    <!--
        
        Presentation made with Impress.js (https://github.com/bartaz/impress.js)
        
    -->
    <link href="css/ouce2013.css" rel="stylesheet" />
</head>

<body class="impress-not-supported">

<span id="prezlink">bit.ly/aaa</span>
<div class="fallback-message">
    <p>Your browser <b>doesn't support the features required</b> by impress.js, so you are presented with a simplified version of this presentation.</p>
    <p>For the best experience please use the latest <b>Chrome</b>, <b>Safari</b> or <b>Firefox</b> browser.</p>
</div>

<div id="impress">

    <div id="start" class="step" data-x="0" data-y="0" data-z="10" data-scale="4">
        <span class="maintitle">
            OpenNMS, meet Configuration Management
        </span>
        <span class="withsalt">(with <a href="http://www.saltstack.org">SaltStack</a>)</span>
        <span class="footnote">OUCE 2013 - <a href="https://twitter.com/AFactotum">@afactotum</a></span>
    </div>

    <div id="theprinciple" class="step" data-x="-2000" data-y="0">
        <q>The principle: do more while actually doing less</q>

        <span class="tip rotating">hint: integrate, automate</span>
    </div>

    <div id="scenario" class="step" data-x="-2000" data-y="-500">
        <p>Ingredients:</p>
            <ul>
                <li class="onms">OpenNMS</li>
                <li class="salt">Salt Stack</li>
                <li class="vsphere">vSphere 4</li>
                <li class="script">a custom vm provisioning script</li>
            </ul>
    </div>

    <div id="aboutsalt" class="step" data-x="-2300" data-y="-1200">
        <p>What is <a href="http://saltstack.org" class="saltstack">Salt Stack</a> anyway?</p>
            <ul>
                <li class="onms">Configuration management</li>
                <li class="salt">Remote execution</li>
                <li class="vsphere">Python</li>
                <li class="script">Open Source</li>
                <li class="script">Growing fast</li>
            </ul>
        <span class="tip awesome appearing">oh yeah: it's awesome!</span>
    </div>

    <div id="options" class="step" data-x="-1500" data-y="-1000">
        <p>Overview of our options:</p>
            <ul>
                <li class="onms">New suspect</li>
                <li class="salt">DNS importer</li>
                <li class="vsphere">Returners</li>
                <li class="script">Events/Reactors</li>
            </ul>
    </div>

    <div id="newsuspect" class="step" data-x="-800" data-y="-1100">
        <p>Option 1: <b>new suspect</b></p>
        <pre>
#!/bin/bash
KEYS=`salt-key -l acc --no-color | \
        grep -v "Accepted Keys"`
for k in $KEYS ; do
ip=`ping -q -c 1 -t 1 $k | grep PING | \
       awk '{print $3}' | sed -e "s/[\(\)]//g"`;
/usr/share/opennms/bin/send-event.pl --interface $ip \
       uei.opennms.org/internal/discovery/newSuspect;
done
        </pre>
        <span class="smaller">add this script to crontab on salt master</span>
    </div>

    <div id="newsuspectdiscussion" class="step" data-x="-800" data-y="-1600">
        <p><b>New suspect</b>: dis/advantages</p>
            <ul>
                <li>(too) simple and it works</li>
                <li>unaware of provisioning</li>
                <li>no metadata</li>
                <li>no decommissioning</li>
            </ul>
    </div>


    <div id="dns" class="step" data-x="100" data-y="-1100">
        <p>Option 2: <b>DNS importer</b></p>
            <ul>
                <li>salt generates one or more zone files</li>
                <li>opennms imports the zones</li>
            </ul>
        <pre id="onmsdnszone">
&lt;requisition-def import-name="linuxservers"
   import-url-resource="dns://salt/linuxservers"&gt;
  &lt;cron-schedule&gt;0 0 0 * * ? *&lt;/cron-schedule&gt;
&lt;/requisition-def&gt;
        </pre>
    </div>

    <div id="dsnssalt" class="step" data-x="750" data-y="-1000" data-z="200" data-rotate-y="-70">
        <p>DNS zone generation in <b>Salt</b></p>
<pre id="saltdnszone">
@ in soa localhost. root 1 3H 15M 1W 1D
  ns localhost.
{% set nets=salt['publish.publish']('*','network.interfaces') %}\
{% for n in nets %}{% set pdata=salt['publish.publish'](n,'pillar.data') %}\
{% if pdata.has_key(n) %}{% if pdata[n].has_key('zone') %}\
{% if pdata[n]['zone']=='<span style="color: blue">linuxservers</span>' %}
{{ n }} IN      A       {{ nets[n]['eth0']['inet'][0]['address'] }}
{% endif %}{% endif %}{% endif %}{% endfor %}
</pre>
        <span class="verysmall">https://gist.github.com/3987451</span>
    </div>

    <div id="dsndiscussion" class="step" data-x="950" data-y="-1500">
        <p><b>DNS</b>: dis/advantages</p>
        <ul>
            <li>no coding required</li>
            <li>provisioning aware</li>
            <li>still no metadata</li>
            <li>still no decommissioning</li>
        </ul>
    </div>

    <div id="eventsReactors" class="step" data-x="1700" data-y="-300">
        <img id="ribbon" src="media/ribbon.png" border="0">
        <p>Option 3: <b>Events/Reactors</b></p>
        <ul>
            <li>salt 0.10.5 adds event APIs</li>
            <li>listen for key add/delete</li>
            <li>integrates with provisioning</li>
            <li>0.11.0 has builtin event support (Reactors)</li>
        </ul>
    </div>

    <div id="eventsListener" class="step" data-x="2700" data-y="-300">
        <p>Event listener daemon
        <span class="smaller">(started from inittab or upstart):</span>
        </p>
        <pre>
import salt.utils.event
import salt.client

event = salt.utils.event.MasterEvent('/var/run/salt')

evt_generator=event.iter_events(tag='auth',full=True)
for data in evt_generator:
    # save event data in <span style="color:red;">redis</span> for batch processing
    # batch processing prevents chatty interaction
    # with opennms
        </pre>
    </div>

    <div id="evenstRedis" class="step" data-x="3700" data-y="-300">
        <p><a class="redis" href="http://redis.io">Redis</a> as a shared buffer:</p>
        <ul>
            <li>daemon stores minion data (id, ip, metadata, provisioning requisition, ...)</li>
            <li>pushes deleted/added ids on a queue</li>
            <li>another thread consumes the queue</li>
            <li>and generates provision.pl calls</li>
        </ul>
    </div>

</div> <!-- close #impress -->

<script src="js/impress.js"></script>
<script>impress().init();</script>

<!--
    
    The `impress()` function also gives you access to the API that controls the presentation.
    
    Just store the result of the call:
    
        var api = impress();
    
    and you will get three functions you can call:
    
        `api.init()` - initializes the presentation,
        `api.next()` - moves to next step of the presentation,
        `api.prev()` - moves to previous step of the presentation,
        `api.goto( idx | id | element, [duration] )` - moves the presentation to the step given by its index number
                id or the DOM element; second parameter can be used to define duration of the transition in ms,
                but it's optional - if not provided default transition duration for the presentation will be used.
    
    You can also simply call `impress()` again to get the API, so `impress().next()` is also allowed.
    Don't worry, it wont initialize the presentation again.
    
    For some example uses of this API check the last part of the source of impress.js where the API
    is used in event handlers.
    
-->

</body>
</html>

