<!doctype html>

<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=1024" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title>OpenNMS, meet configuration management (with SaltStack) | by Umberto Nicoletti @afactotum</title>
    
    <meta name="description" content="describe integration between OpenNMS and SaltStakc so that nodes are automatically added to OpenNMS as soon as they are processed by Salt" />
    <meta name="author" content="Umberto Nicoletti" />

    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,600italic,700italic,300,400,800" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Sonsie+One' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
    <!--
        
        Presentation made with Impress.js (https://github.com/bartaz/impress.js)
        
    -->
    <link href="css/ouce2013.css" rel="stylesheet" />
</head>

<body class="impress-not-supported">

<div id="backgroundscene">
    <p class="smaller">http://www.flickr.com/photos/toasty/915288758/</p>
</div>
<span id="prezlink">bit.ly/ouce2013</span>
<div class="fallback-message">
    <p>Your browser <b>doesn't support the features required</b> by impress.js, so you are presented with a simplified version of this presentation.</p>
    <p>For the best experience please use the latest <b>Chrome</b>, <b>Safari</b> or <b>Firefox</b> browser.</p>
</div>

<div id="impress">

    <div id="start" class="step" data-x="0" data-y="0" data-z="10" data-scale="4">
        <span class="maintitle">
            OpenNMS, meet Configuration Management
        </span>
        <span class="withsalt">(with SaltStack)</span>
        <span class="footnote">OUCE 2013 <a href="https://twitter.com/AFactotum">@afactotum</a></span>
    </div>

    <div id="scenario" class="step" data-x="-2400" data-y="200">
        <p>Scenario:</p>
            <ul>
                <li class="onms">OpenNMS</li>
                <li class="salt">Salt Stack</li>
                <li class="vsphere">VMware vSphere</li>
                <li class="script">a custom vm provisioning script</li>
            </ul>
    </div>

    <!-- TODO: perhaps remove or shade the right branch as that part is missing at this stage -->
    <div id="bigpicture" class="step" data-x="-3000" data-y="-500">
        <p><img src="media/bigpicture.png"></p>
    </div>

    <div id="bigpictureoverlay" class="step" data-x="-3000" data-y="-500">
        <p style="text-align: center;font-weight: bold;">I have an idea!<br/>Since all nodes are configured with Salt why not
            let Salt maintain nodes in OpenNMS too?
        </p>
    </div>

    <div id="aboutsalt" class="step" data-x="-2400" data-y="-1200">
        <p>What is <a href="http://saltstack.org" class="saltstack">Salt Stack</a> anyway?</p>
            <ul>
                <li class="onms">Configuration management</li>
                <li class="salt">Remote execution</li>
                <li class="vsphere">Python</li>
                <li class="script">Open Source</li>
                <li class="script">Use <a href="http://www.yaml.org/">YAML</a> files for configuration</li>
            </ul>
        <span class="tip awesome appearing">oh yeah: it's awesome!</span>
    </div>

    <div id="aboutsalt2" class="step" data-x="-2000" data-y="-1800">
        <p>What is <a href="http://saltstack.org" class="saltstack">Salt Stack</a> anyway? (2)</p>
            <ul>
                <li>0MQ based comm layer</li>
                <li>push model</li>
                <li>PKI for comm auth/encryption</li>
                <li class="script">Growing fast:
                    <ul>
                        <li>in 2012 <a href="https://github.com/blog/1359-the-octoverse-in-2012">ranked 8th</a> on GitHub by number of contributors</li>
                    </ul>
                </li>
            </ul>
    </div>

    <div id="options" class="step" data-x="-1500" data-y="-1000">
        <p>Overview of our options:</p>
            <ul>
                <li class="option1">New suspect
                    <ul>
                        <li>only as POC</li>
                    </ul>
                </li>
                <li class="option2">DNS importer
                    <ul>
                        <li>first version</li>
                    </ul>
                </li>
                <li class="option3">Events/Reactors
                    <ul>
                        <li>current version</li>
                    </ul>
                </li>
            </ul>
    </div>

    <div id="newsuspect" class="step option1" data-x="-800" data-y="-1100">
        <p>Option 1: <b>new suspect</b></p>
        <pre>
#!/bin/bash
KEYS=`salt-key -l acc --no-color | \
        grep -v "Accepted Keys"`
for k in $KEYS ; do
ip=`ping -q -c 1 -t 1 $k | grep PING | \
       awk '{print $3}' | sed -e "s/[\(\)]//g"`;
/usr/share/opennms/bin/send-event.pl --interface $ip \
       uei.opennms.org/internal/discovery/newSuspect;
done
        </pre>
        <span class="smaller">add this script to crontab on salt master</span>
    </div>

    <div id="newsuspectdiscussion" class="step option1" data-x="-800" data-y="-1700">
        <p><b>New suspect</b>: dis/advantages</p>
            <ul>
                <li>(too) simple but it works</li>
                <li>unaware of provisioning</li>
                <li>no metadata</li>
                <li>no decommissioning</li>
            </ul>
    </div>


    <div id="dns" class="step option2" data-x="150" data-y="-1100">
        <p>Option 2: <b>DNS importer</b></p>
            <ul>
                <li>salt generates one or more zone files</li>
                <li>opennms imports the zones</li>
            </ul>
        <pre id="onmsdnszone">
&lt;requisition-def import-name="linuxservers"
   import-url-resource="dns://salt/linuxservers"&gt;
  &lt;cron-schedule&gt;0 0 0 * * ? *&lt;/cron-schedule&gt;
&lt;/requisition-def&gt;
        </pre>
    </div>

    <div id="dsnssalt" class="step option2" data-x="1100" data-y="-1000" data-z="200">
        <p>DNS zone generation in <b>Salt</b></p>
<pre id="saltdnszone">
@ in soa localhost. root 1 3H 15M 1W 1D
  ns localhost.
{% set nets=salt['publish.publish']('*','network.interfaces') %}\
{% for n in nets %}{% set pdata=salt['publish.publish'](n,'pillar.data') %}\
{% if pdata.has_key(n) %}{% if pdata[n].has_key('zone') %}\
{% if pdata[n]['zone']=='<span style="color: blue">linuxservers</span>' %}
{{ n }} IN      A       {{ nets[n]['eth0']['inet'][0]['address'] }}
{% endif %}{% endif %}{% endif %}{% endfor %}
</pre>
        <span class="verysmall">https://gist.github.com/3987451</span>
    </div>

    <div id="dsndiscussion" class="step option2" data-x="1100" data-y="-1550">
        <p><b>DNS</b>: dis/advantages</p>
        <ul>
            <li>no coding required</li>
            <li>provisioning aware</li>
            <li>still no metadata</li>
            <li>still no decommissioning</li>
        </ul>
    </div>

    <div id="eventsReactors" class="step option3" data-x="1700" data-y="-200">
        <img id="ribbon" src="media/ribbon.png" border="0">
        <p>Option 3: <b>Events/Reactors</b></p>
        <ul>
            <li>salt 0.10.5 introduced python event APIs</li>
            <li>listen for key add/delete</li>
            <li>integrate with provisioning</li>
            <li>0.11.0 improves API with builtin event listening (Reactors)</li>
        </ul>
    </div>

    <div id="eventsOverview" class="step option3" data-x="2700" data-y="-200" data-scale="0.7">
        <p>
            <img src="media/option3_details.png">
        </p>
    </div>

    <div id="eventsListener" class="step option3" data-x="3700" data-y="-200">
        <p>Event listener service
        <span class="smaller">(started from inittab or upstart):</span>
        </p>
        <pre>
event = salt.utils.event.MasterEvent('/var/run/salt/master/')

evt_generator=event.iter_events(tag='key',full=True)
for data in evt_generator:
    payload = data['data']
    minion_id    = payload['id']
    if payload.get('act') == 'accept' and payload.get('result'):
        minion_id=("%s/%s" % ('add',minion_id))
    if payload.get('act') == 'delete' and payload.get('result'):
        minion_id=("%s/%s" % ('delete',minion_id))
    redis.rpush(salt_queue, "%s"%(minion_id))
        </pre>
    </div>

    <div id="eventsRedis" class="step option3" data-x="1900" data-y="550">
        <p><a class="redis" href="http://redis.io">Redis</a>: shared queue and K/V store:</p>
        <ul>
            <li>listener pushes deleted/added minion ids to a queue</li>
            <li>consumer fetches ids (in order)</li>
            <li>consumer stores the opennms node id and requisition name</li>
        </ul>
    </div>

    <div id="eventsConsumer" class="step option3" data-x="2900" data-y="550">
        <p>Consumer process
        <span class="smaller">(started from crontab every 20'):</span>
        </p>
        <ul>
            <li>locks queue</li>
            <li>process queue</li>
            <li>query minions for ip and metadata</li>
            <li>forks provision.pl calls</li>
            <li>supports dry-run mode</li>
        </ul>
    </div>

    <div id="option3Recap" class="step option3" data-x="3900" data-y="550">
        <p><b>Events</b>: dis/advantages</p>
            <ul>
                <li>aligned with ops</li>
                <li>provisioning aware</li>
                <li>supports metadata</li>
                <li>supports decommissioning</li>
                <li>some coding required ( ~ 200 LOC )</li>
            </ul>
    </div>

    <div id="option3pillar" class="step" data-x="4900" data-y="-50">
        <p class="center">The metadata as defined inside Salt</p>
        <p>&nbsp;</p>
<pre>
[root@saltmaster ~]# cat /srv/pillar/provisioning.sls
requisition: mainsite
opennms_categories: 'production,servers'
opennms_assetinfo: { comment: 'Server a' }


</pre>
        <p class="smaller">Tip: reuse this metadata in the <em>motd</em></p>
    </div>

    <div id="option3sshot1" class="step" data-x="4900" data-y="550">
        <p class="center">How it looks like in OpenNMS</p>
        <img src="media/opennms_salt_requisition.png">
    </div>

    <div id="option3sshot2" class="step" data-x="4900" data-y="1050">
        <p class="center">The node page</p>
        <img src="media/opennms_provisioned_node.png">
    </div>

    <div id="concept" class="step" data-x="-2000" data-y="1000">
        <span id="line1" class="line">META - Food for Thought</span>
        <ul>
            <li>Integrability matters</li>
            <li>Automation is a requirement</li>
            <li>Software Defined X (Infrastructure, Network) is here</li>
            <li>'Let yourself go with the Flow?' Session</li>
        </ul>
    </div>

    <div id="end" class="step" data-x="0" data-y="0" data-scale="6">
        <p id="qa">Q<span class="smaller">&</span>A</p>
        <p id="codelink">Code & slides: <a href="https://github.com/unicolet/ouce2013">bit.ly/ouce2013</a></p>
        <p id="thanks">thanks</p>
    </div>

</div> <!-- close #impress -->

<script src="js/impress.js"></script>
<script>
    impress().init();

    var backgroundscene=document.getElementById("backgroundscene");
    document.getElementById("start").addEventListener("impress:stepenter", function (event) {
        backgroundscene.classList.add("samurai-background");
    }, false);
    document.getElementById("start").addEventListener("impress:stepleave", function (event) {
        backgroundscene.classList.remove("samurai-background");
    }, false);

    //document.getElementById("concept").addEventListener("impress:stepenter", function (event) {
    //    backgroundscene.classList.add("merlin-background");
    //}, false);
    //document.getElementById("concept").addEventListener("impress:stepleave", function (event) {
    //    backgroundscene.classList.remove("merlin-background");
    //}, false);
</script>

<!--
    
    The `impress()` function also gives you access to the API that controls the presentation.
    
    Just store the result of the call:
    
        var api = impress();
    
    and you will get three functions you can call:
    
        `api.init()` - initializes the presentation,
        `api.next()` - moves to next step of the presentation,
        `api.prev()` - moves to previous step of the presentation,
        `api.goto( idx | id | element, [duration] )` - moves the presentation to the step given by its index number
                id or the DOM element; second parameter can be used to define duration of the transition in ms,
                but it's optional - if not provided default transition duration for the presentation will be used.
    
    You can also simply call `impress()` again to get the API, so `impress().next()` is also allowed.
    Don't worry, it wont initialize the presentation again.
    
    For some example uses of this API check the last part of the source of impress.js where the API
    is used in event handlers.
    
-->

</body>
</html>

